body {
    background-image: linear-gradient(to bottom, red , yellow);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}

#start-game-btn {
    width: 150px;
    height: 80px;
    margin: auto;
    border-radius: 22px;
    font-size: 22px;
    font-weight: 900;
}